description "Web server process"

start on (local-filesystems and net-device-up IFACE!=lo0)
stop on runlevel [!12345]

respawn

setuid sinatra
setgid sinatra
chdir /app

exec /vagrant/envconsul -consul 127.0.0.1:8500 -wait 5s:60s -sanitize -upcase sinatra bundle exec ruby ohai.rb